@font-face {
  font-family: "iconfont"; /* Project id 2956015 */
  src: url('iconfont.woff2?t=1637564275182') format('woff2'),
       url('iconfont.woff?t=1637564275182') format('woff'),
       url('iconfont.ttf?t=1637564275182') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e71d";
}

